*{
    margin: 0;
    padding: 0;
}
.line-chart {
    margin-bottom: 30px;
}
/* .content-container {
    flex-basis: 70%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
} */
.home-content-container {
    padding: 15px 15px 50px 30px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}
.stack-bar-chart-header .title {
    font-size: 20px;
}
.home-content-container .line-chart, .home-content-container .stack-bar-chart{
    width: 100%;
    padding: 15px;
    box-shadow: 0px 0px 56px #00000021;
    box-sizing: border-box;
}
.stack-bar-chart-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.stack-bar-filter {
    display: flex;
}
.stack-bar-filter label{
    padding-right: 10px;
}
.page-container {
    display: flex;
}
.all-complains-container {
    padding: 50px 0px 15px 30px;
}
.complains-suggestions {
    background: #EBF1F6 0% 0% no-repeat padding-box;
    padding: 5px;
    border-bottom: 2px solid #007AFF;
}
.complains-suggestions .com-text {
    font-size: 16px;
}
.complains-suggestions .com-per {
    font-weight: bold;
} 
.complains-suggestions-section {
    display: flex;
}
.complains-suggestions {
    margin-right: 10px;
}

.react-date-picker .react-daterange-picker__inputGroup{
    min-width: 200px;
}
.react-date-picker input{
    min-width: 20px
}
.filter-by-date {
    padding-right: 10px;
}

.flex-end {
    justify-content: flex-end;
}
.stack-bar-chart-header > div {
    padding-left: 15px;
}
.stack-bar-chart-header .title {
    margin-right: auto;
}

.page-container .tweets-topic-container {
    width: 30%;
    padding: 0 10px;
    box-shadow: 0px 0px 56px #00000021;
    box-sizing: border-box;
}

.page-container .tweets-topic-container .tweets-heading {
    text-align: center;
    padding: 10px 0;
}

.tweets-btn {
    background: #CFF9D3 0% 0% no-repeat padding-box;
    border-radius: 100px;
    padding: 10px;
    margin: 5px 5px;
    border: none;
}

.light-brown {
    background: #FFF3D5 0% 0% no-repeat padding-box;
    color: #E8AA04;
}

.light-pink {
    color: #F6828C;
    background: #FEE4E6 0% 0% no-repeat padding-box;
}
.home-page-charts-section {
    width: 70%;
}