.page-side-bar {
    width: 17%;
    box-shadow: 5px 0px 50px #00000029;
    box-sizing: border-box;
    padding: 30px 0px 30px 10px;
    background-color: #000;
}

.logo-wrapper {
    text-align: center;
    margin-right: 10px;
    min-height: 80px;
}

.logo-wrapper img {
    max-width: 80px;
}
.navigation-menu {
    margin-top: 20px;
}

.navigation-menu ul {
    list-style-type: none;
    padding-left: 0px;
}
.navigation-menu ul li {
    /* margin-bottom: 20px; */
}
.navigation-menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    position: relative;
}

.navigation-menu ul li a:hover {
    background-color: #3C3B3B;
    transition: background-color 0.3s ease;
}
.navigation-menu ul li a.active {
    background-color: #3C3B3B;
}
.navigation-menu ul li a.active::after {
    width: 5px;
    height: 40px;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-color: #FCBC3B;
}
